@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: #222222;
  max-width: 10.0rem;
  margin: 0 auto;
}

.cl-success {
  color: #46cda9;
}

/*
首先，目前视觉稿大小为640，750以及，1125这三种。
1a = 7.5px
1rem = 75px
因此，对于视觉稿上的元素的尺寸换算，只需要原始px值除以rem基准px值即可。例如240px * 120px的元素，最后转换为3.2rem * 1.6rem。
*/

.fn-head {
  height: 1.375rem;
  line-height: 1.375rem;
  padding: 0 0.296875rem;
  border-bottom: 0.015625rem solid #ddd;
  text-align: center;
  position: relative;
  clear: both;
  font-size: 16px;
}

[data-dpr="2"] .fn-head {
  font-size: 32px;
}

[data-dpr="2.5"] .fn-head {
  font-size: 40px;
}

[data-dpr="2.75"] .fn-head {
  font-size: 44px;
}

[data-dpr="3"] .fn-head {
  font-size: 48px;
}

[data-dpr="4"] .fn-head {
  font-size: 64px;
}

.fn-head .fn-back {
  background: url(../images/icon-left.png) left center no-repeat;
  width: 0.296875rem;
  height: 100%;
  float: left;
}

/*topic*/

.topic-main {
  background: #eeeeee;
  padding: 0.21875rem 0.234375rem;
  min-height: 62.5rem;
}

.topic-main .top {
  padding: 0.46875rem 0.3125rem;
  background: #fff;
  border-radius: 0.125rem;
}

.topic-main .top .head {
  position: relative;
  height: 1.0rem;
}

.topic-main .top .head .left {
  float: left;
  width: 1.0rem;
  height: 1.0rem;
  overflow: hidden;
  border-radius: 0.546875rem;
}

.topic-main .top .head .left img {
  width: 100%;
  height: 100%;
}

.topic-main .top .head .right {
  padding-left: 1.234375rem;
  height: 1.0rem;
}

.topic-main .top .head .right p {
  width: 7.796875rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.topic-main .top .head .right p:first-child {
  height: 0.53125rem;
  line-height: 0.53125rem;
  color: #555;
  font-size: 0.171875rem;
}

[data-dpr="2"] .topic-main .top .head .right p:first-child {
  font-size: 0.34375rem;
}

[data-dpr="3"] .topic-main .top .head .right p:first-child {
  font-size: 0.515625rem;
}

.topic-main .top .head .right p:last-child {
  height: 0.484375rem;
  line-height: 0.484375rem;
  color: #aaa;
  font-size: 0.140625rem;
}

[data-dpr="2"] .topic-main .top .head .right p:last-child {
  font-size: 0.28125rem;
}

[data-dpr="3"] .topic-main .top .head .right p:last-child {
  font-size: 0.421875rem;
}

.topic-main .top .title {
  margin-top: 0.46875rem;
  max-height: 1.5625rem;
  line-height: 0.625rem;
  overflow: hidden;
  font-size: 0.21875rem;
}

[data-dpr="2"] .topic-main .top .title {
  font-size: 0.4375rem;
}

[data-dpr="3"] .topic-main .top .title {
  font-size: 0.65625rem;
}

.topic-main .top .img-list {
  max-width: 100%;
  overflow: hidden;
  margin-top: 0.34375rem;
}

.topic-main .top .img-list img {
  display: block;
  margin-bottom: 0.34375rem;
}

.ui-wrapper {
  width: 100%;
  background: #fff;
}

.ui-list {
  border: 0;
}

.ui-form {
  padding: 0 0.765625rem;
}

.ui-form .ui-list-item {
  padding: 0;
  border-color: #eee;
  line-height: 1.09375rem !important;
  height: 1.09375rem !important;
  margin-top: 0.265625rem;
}

.ui-form .ui-list-item.first {
  margin-top: 0.3125rem;
}

.ui-form-controls {
  padding-left: 0;
  line-height: 1.09375rem !important;
  height: 1.09375rem !important;
}

.ui-form-controls .ui-input-text {
  line-height: 0.5rem !important;
  height: 1.09375rem !important;
  font-size: 14px;
}

[data-dpr="2"] .ui-form-controls .ui-input-text {
  font-size: 28px;
}

[data-dpr="2.5"] .ui-form-controls .ui-input-text {
  font-size: 35px;
}

[data-dpr="2.75"] .ui-form-controls .ui-input-text {
  font-size: 39px;
}

[data-dpr="3"] .ui-form-controls .ui-input-text {
  font-size: 42px;
}

[data-dpr="4"] .ui-form-controls .ui-input-text {
  font-size: 56px;
}

.fn-form .btn-wrap {
  margin-top: 0.625rem;
}

.fn-form .btn-wrap .ui-btn-warning {
  background: #ffdd00;
  border-color: #ffdd00;
  color: #555;
  height: 1.21875rem;
  line-height: 1.21875rem;
  border-radius: 0.1875rem;
  display: block;
  margin: 0 auto;
  font-size: 15px;
}

[data-dpr="2"] .fn-form .btn-wrap .ui-btn-warning {
  font-size: 30px;
}

[data-dpr="2.5"] .fn-form .btn-wrap .ui-btn-warning {
  font-size: 38px;
}

[data-dpr="2.75"] .fn-form .btn-wrap .ui-btn-warning {
  font-size: 41px;
}

[data-dpr="3"] .fn-form .btn-wrap .ui-btn-warning {
  font-size: 45px;
}

[data-dpr="4"] .fn-form .btn-wrap .ui-btn-warning {
  font-size: 60px;
}

.code-list-item {
  position: relative;
}

.fn-form .btn-getcode {
  width: auto;
  height: 0.8125rem;
  line-height: 0.8125rem;
  font-size: 11px;
  color: #555;
  border-color: #555;
  border-width: 1px;
  position: absolute;
  right: 0;
  top: 0;
  white-space: nowrap;
  padding: 0 0.203125rem;
}

[data-dpr="2"] .fn-form .btn-getcode {
  font-size: 22px;
}

[data-dpr="2.5"] .fn-form .btn-getcode {
  font-size: 28px;
}

[data-dpr="2.75"] .fn-form .btn-getcode {
  font-size: 30px;
}

[data-dpr="3"] .fn-form .btn-getcode {
  font-size: 33px;
}

[data-dpr="4"] .fn-form .btn-getcode {
  font-size: 44px;
}

.fn-form .btn-getcode.btn-disabled {
  color: #aaaaaa;
  border-color: #aaaaaa;
}