.n-right{
	width: 955px;
	height: 638px;
	float: left;

}
.n-right ul{
	padding-top: 12px;
}
.n-right .n-main-left{
	width: 380px;
	float: left;
}
.n-right .n-main-right{
	width: 570px;
	height: 425px;
	float: right;
}
.n-right li{
	margin-bottom: 50px;
}
.n-right li p{
	height: 43px;
	line-height: 43px;
	font-size: 16px;
	color: #666666;
}
.n-right .ab-li-title{
	margin-top: 30px;
}
.n-right .ab-li-title h2{
	font-size: 24px;
} 
.n-right .main-top-title h3{
	font-size: 18px;
} 
#allmap {width: 100%;height: 100%; overflow: hidden;margin:0;font-family:"微软雅黑";}