.n-left ul{
	border: 1px solid #dbdbdb;
	height: 548px;
	margin-top: 0;
	padding: 0;
}
.n-left ul .n-left-f-li{
	background: #3489CF;
	color: #fff;
	font-size: 18px;
}
.n-left ul .n-left-f-li:hover{
	background: #3489CF;
	color: #fff;
	font-size: 18px;
}
.btn-intro{
	float: left;
	border-radius: 0;
	margin-left: 85px;
	margin-top: 25px;
}
.n-right{
	height: auto;
	padding-bottom: 30px;
}
.n-right p{height: 20px;line-height: 20px;font-size: 14px;}

.n-right .main-top-title h2{
	color: #3486CA;
	font-size: 20px;
	display: inline-block;
}
.n-right .main-top-title p{
	font-family: microsoft YaHei;
	margin-left: 20px;
	color: #82b054;	
	display: inline-block;
}
.right-main{float: left; margin-top: 12px;}
.n-right .right-main .em-right-top li{
	float: left;
	width: 360px;
	font-size: 16px;
	height: 32px;
	line-height: 32px;
}
.n-right .right-main h2{
	display: block;
	border-left: 3px solid #277FC7;
	clear: both;
	float: left;
	margin-top: 38px;
	margin-bottom:20px;
	padding-left: 5px; 
}
.em-describe{
	clear: both;
	line-height: 30px;
	font-size: 16px;
}
.btn-info{
	background: #338fda;
	color: #eee;
}
.btn-info:hover{
	color: #fff;
	background: #3586c8;
}
.btn-larger{
	width: 180px;
	height: 53px;
	line-height: 53px;
	border-radius: 6px;
}