p{width: auto;padding: 10px 30px;display: inline-block;}
.danger{color:#fff;background: #e02222;}
.warning{color:#fff;background: #f08200;}
.success{color:#fff;background: #008F07;}
.info{color:#fff;background: #0259C4;}