<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>layout</title>
	<link rel="stylesheet" href="../statics/css/normalize.css">
	<link rel="stylesheet" href="../statics/css/style.css">
	<script src="../statics/js/jquery.js"></script>
</head>
<body>
	<div class="lay-container">
		<div class="lay-tab">
			<ul>
				<li>tab1</li>
				<li>tab2</li>
				<li>tab3</li>
				<li>tab4</li>
			</ul>
		</div>
		<div class="lay-left">
			
		</div>
		<div class="lay-right">

		</div>
	</div>
</body>
</html>