.ui-wrapper{
	width: 100%;
	background: #fff;
}
.ui-list{
	border:0;
}
.ui-form{
	padding:0 49px;

	.ui-list-item{
		padding: 0;
		border-color: #eee;
		line-height:70px !important;
		height: 70px !important;
		margin-top: 17px;

		&.first{
			margin-top:20px;
		}
	}
}

.ui-form-controls{
	padding-left: 0;
	line-height:70px !important;
	height: 70px !important;

	.ui-input-text{
		line-height:32px !important;
		height: 70px !important;
		@include px2px('font-size',28);
		// font-size:28px;
	}
}

.fn-form .btn-wrap{
	margin-top: 40px;

	.ui-btn-warning{
		background: #ffdd00;
		border-color: #ffdd00;
		color:#555;
		height: 78px;
		line-height: 78px;
		border-radius: 12px;
		display: block;
		margin: 0 auto;
		@include px2px('font-size',30);
		// font-size:30px;
	}
}
.code-list-item{position: relative;}

.fn-form {
	.btn-getcode{
		width: auto;
		height: 52px;
		line-height: 52px;
		@include px2px('font-size',22);
		// font-size:22px;
		color: #555;
		border-color: #555;
		border-width: 1px; /*no*/
		position: absolute;
		right: 0;
		top: 0;
		white-space: nowrap;
		padding: 0 13px;

		&.btn-disabled{
			color:#aaaaaa;
			border-color:#aaaaaa;
		}
	}

}